.App {
  text-align: center;
  background-color: #333737;
  color: white;
  height: auto;
  display: grid;
}

body {
  background-color: #333737;
}

.minContent {
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}